 body{
                background: #0099ff
            }
            
            #form{
                border: black 1px; 
                border-radius: 5px;
                margin: 100px auto;
                background: white;
                padding: 40px;
                width: 20%;
            }
            
            #btn{
                background-color: green;
                color: whitesmoke;
                padding: 5px;
                margin-left: 69%;
            }               
    
/*            #out{
                background-color: red;
                color: whitesmoke;
                padding: 5px;
                margin-right: 69%;
            }
            */
            
            #reg{
                background-color: blue;
                color: whitesmoke;
                padding: 5px;
                margin-left: 30%;
            }
            
            #submit{
                background-color: red;
                color: whitesmoke;
                padding: 5px;
                margin-left: 30%;
            }
            
            
            
            
            h1{
                text-align: center;
            }
            
            h4{
                margin-top: 20px;
            }